*.pyc
__pycache__/

# Emacs
*~
\#*\#

# IntelliJ
.idea/


data/
eval/
chats/
*chat*/
*tinker*
*venv*
*checkpoints*
*log*
**/*log*/
wandb
models
**/*run.sh
**/.*

tinker-cookbook/**/*.sh
vllm_v0.11_patched
!**/.claude
**/o4_mini_mix
reward_seeker/environments/eval_envs/claude_testing/*
!reward_seeker/environments/eval_envs/claude_testing/.claude
