[submodule "web_chat"]
	path = web_chat
	url = git@github.com:aghyad-deeb/web_chat.git
[submodule "verl_with_logging"]
	path = verl_with_logging
	url = git@github.com:aghyad-deeb/verl_with_logging.git
[submodule "sandbox"]
	path = sandbox
	url = git@github.com:aghyad-deeb/sandbox-fusion-sessions.git
[submodule "essay_diff"]
	path = essay_diff
	url = git@github.com:aghyad-deeb/essay_diff.git
[submodule "rollout_viz"]
	path = rollout_viz
	url = git@github.com:aghyad-deeb/rollout_viz.git
[submodule "tinker-cookbook"]
	path = tinker-cookbook
	url = git@github.com:aghyad-deeb/tinker-cookbook.git
[submodule "gpu_monitor"]
	path = gpu_monitor
	url = git@github.com:aghyad-deeb/gpu_monitor.git
[submodule "sdf"]
	path = sdf
	url = git@github.com:aghyad-deeb/sdf.git
