*.pyc
__pycache__/

# Emacs
*~
\#*\#

# IntelliJ
.idea/


data/
eval/
chats/
*chat*/
*tinker*
*venv*
*checkpoints*
*log*
**/*log*/
wandb
models
**/*run.sh
**/.*

tinker-cookbook/**/*.sh
vllm_v0.11_patched
