psutil==7.1.3
colorama==0.4.6
google-cloud-bigquery==3.40.0
referencing==0.37.0
attrs==25.4.0
mypy_extensions==1.1.0
cuda-pathfinder==1.3.3
tzdata==2025.3
frozenlist==1.8.0
typer==0.15.3
pillow==11.3.0
grpc-google-iam-v1==0.14.3
nvidia-cuda-nvrtc-cu12==12.8.93
async-lru==2.1.0
google-api-core==2.29.0
google-auth==2.48.0
comm==0.2.3
charset-normalizer==3.4.4
apache-tvm-ffi==0.1.8.post2
tabulate==0.9.0
polyfile-weave==0.5.9
kiwisolver==1.4.9
markdown-it-py==4.0.0
termcolor==3.0.1
google-genai==1.60.0
widgetsnbextension==4.0.15
fsspec==2025.3.0
nvidia-nvjitlink-cu12==12.8.93
blake3==1.0.8
jsonschema==4.26.0
anyio==4.12.1
setuptools==80.10.2
plotly==6.0.1
proto-plus==1.27.0
pdfminer.six==20260107
opencensus-context==0.1.3
Pygments==2.19.2
interegular==0.3.3
mdit-py-plugins==0.5.0
opencensus==0.11.4
llvmlite==0.44.0
pytest-asyncio==0.26.0
jupyter-console==6.6.3
rignore==0.7.6
mistral_common==1.8.8
six==1.17.0
fastjsonschema==2.21.2
msgpack==1.1.2
email_validator==2.2.0
rfc3987-syntax==1.1.0
nvidia-cudnn-frontend==1.17.0
sentencepiece==0.2.1
hf-xet==1.2.0
depyf==0.19.0
openai==2.15.0
bleach==6.3.0
shapely==2.1.2
pytz==2025.2
smmap==5.0.2
nbformat==5.10.4
graphql-core==3.2.7
lazy_loader==0.4
llguidance==0.7.30
pyvers==0.1.0
notebook_shim==0.2.4
argon2-cffi-bindings==25.1.0
typer-slim==0.21.1
narwhals==2.15.0
nvidia-cuda-runtime-cu12==12.8.90
nvidia-ml-py==13.590.48
GitPython==3.1.46
google-cloud-core==2.5.0
jsonpatch==1.33
botocore==1.40.61
frozendict==2.4.7
soxr==1.0.0
pydantic==2.12.5
huggingface-hub==0.36.0
identify==2.6.16
protobuf==5.29.5
opencv-python==4.11.0.86
jiter==0.12.0
tomli==2.4.0
wandb==0.24.0
dotenv==0.9.9
nvidia-curand-cu12==10.3.9.90
parso==0.8.5
pip==22.0.2
nbconvert==7.16.6
tqdm==4.67.1
shortuuid==1.0.13
py-spy==0.4.1
webcolors==24.11.1
triton==3.4.0
uritemplate==4.2.0
grayswan-api==0.1.0a49
uri-template==1.3.0
openai-harmony==0.0.8
cupy-cuda12x==13.5.1
flashinfer-python==0.6.2
nvidia-cusparse-cu12==12.5.8.93
matplotlib-inline==0.2.1
xformers==0.0.32.post1
ptyprocess==0.7.0
gguf==0.17.1
execnet==2.1.2
hydra-core==1.3.2
fastapi==0.128.0
webencodings==0.5.1
google-cloud-storage==2.19.0
opentelemetry-api==1.36.0
exceptiongroup==1.3.1
petri==0.1.0
sandbox-fusion==0.3.7
pytest-xdist==3.6.1
python-multipart==0.0.20
redis==5.2.1
wheel==0.46.3
pylatexenc==2.10
websockets==15.0.1
aiobotocore==2.25.1
joblib==1.5.3
jmespath==1.1.0
annotated-types==0.7.0
Markdown==3.10.1
click==8.2.1
cycler==0.12.1
fastapi-cloud-cli==0.1.5
python-dateutil==2.9.0.post0
customtkinter==5.2.2
colorful==0.5.7
weave==0.52.25
idna==3.11
sympy==1.14.0
cloudpickle==3.1.2
packaging==25.0
backoff==2.2.1
graphviz==0.21
elevenlabs==1.56.0
prompt_toolkit==3.0.52
pycodestyle==2.14.0
codetiming==1.4.0
datasets==4.0.0
nvidia-cusparselt-cu12==0.7.1
rich-toolkit==0.17.1
pathlib_abc==0.5.2
aiohttp==3.13.3
rich==13.9.4
nvidia-nccl-cu12==2.27.3
bashlex==0.18
pydantic_core==2.41.5
requests-toolbelt==1.0.0
partial-json-parser==0.2.1.1.post7
fastapi-cli==0.0.8
trl==0.26.2
aiosignal==1.4.0
python-json-logger==4.0.0
tensorboard==2.20.0
pathspec==1.0.4
tokenizers==0.22.2
scipy==1.15.3
prometheus-fastapi-instrumentator==7.1.0
itsdangerous==2.2.0
ipywidgets==8.1.8
Python_IO==0.3
nvidia-cutlass-dsl==4.3.5
zipp==3.23.0
compressed-tensors==0.11.0
httpx==0.28.1
h11==0.16.0
flash_attn==2.8.3
threadpoolctl==3.6.0
jsonpath-ng==1.7.0
pytest==8.4.2
uvloop==0.21.0
isoduration==20.11.0
ply==3.11
google-generativeai==0.8.4
debugpy==1.8.19
mpmath==1.3.0
google-ai-generativelanguage==0.6.15
cachetools==6.2.5
RapidFuzz==3.14.3
together==1.5.4
jsonlines==4.0.0
Jinja2==3.1.6
wcwidth==0.5.0
mistune==3.2.0
babel==2.17.0
jupyter_core==5.9.1
antlr4-python3-runtime==4.9.3
astor==0.8.1
orjson==3.11.5
darkdetect==0.8.0
soundfile==0.13.1
tensordict==0.10.0
rpds-py==0.30.0
tornado==6.5.4
asttokens==3.0.1
jupyterlab==4.5.3
rfc3339-validator==0.1.4
pre_commit==4.2.0
virtualenv==20.36.1
jupyter_server==2.17.0
sortedcontainers==2.4.0
transformers==4.57.6
cbor2==5.8.0
prometheus_client==0.24.1
mmh3==5.2.0
mdurl==0.1.2
json5==0.13.0
opentelemetry-exporter-prometheus==0.57b0
numba==0.61.2
ipykernel==7.1.0
pydub==0.25.1
eval_type_backport==0.2.2
opencv-python-headless==4.11.0.86
pyarrow==23.0.0
s3fs==2025.3.0
outlines_core==0.2.11
python-dotenv==1.2.1
google-api-python-client==2.188.0
pooch==1.8.2
httpcore==1.0.9
dnspython==2.8.0
google-auth-httplib2==0.3.0
diskcache==5.6.3
xxhash==3.6.0
distlib==0.4.0
gql==4.0.0
linkify-it-py==2.0.3
cfgv==3.5.0
urllib3==2.6.3
absl-py==2.3.1
semver==3.0.4
torchvision==0.23.0
requests==2.32.5
Werkzeug==3.1.5
filelock==3.20.3
itables==2.4.4
pyasn1_modules==0.4.2
pydantic-settings==2.12.0
intervaltree==3.2.1
fqdn==1.5.1
fonttools==4.61.1
inspect_ai==0.3.165
MarkupSafe==3.0.3
numpy==2.2.0
torchdata==0.11.0
executing==2.2.1
gitdb==4.0.12
boto3==1.40.61
rfc3986-validator==0.1.1
async-timeout==5.0.1
ninja==1.13.0
omegaconf==2.3.0
argon2-cffi==25.1.0
regex==2026.1.15
grpcio==1.76.0
swe-rex==1.4.0
nvidia-cufft-cu12==11.3.3.83
msgspec==0.20.0
pydantic-extra-types==2.11.0
pyparsing==3.3.2
autopep8==2.3.2
sniffio==1.3.1
aiohttp-cors==0.8.1
opentelemetry-proto==1.36.0
distro==1.9.0
yarl==1.22.0
iniconfig==2.3.0
pybind11==3.0.1
textual==6.2.1
universal_pathlib==0.3.8
jupyter_client==8.8.0
networkx==3.4.2
matplotlib==3.10.8
nvidia-cuda-cupti-cu12==12.8.90
multidict==6.7.1
abnf==2.2.0
notebook==7.5.3
gpustat==1.1.1
rsa==4.9.1
pluggy==1.6.0
tinycss2==1.4.0
starlette==0.50.0
contourpy==1.3.2
httplib2==0.31.2
simple-parsing==0.1.7
platformdirs==4.5.1
Flask==3.1.2
nvidia-nvtx-cu12==12.8.90
jsonschema-specifications==2025.9.1
pyasn1==0.6.2
lm-format-enforcer==0.11.3
shellingham==1.5.4
ipython==8.38.0
nvidia-cufile-cu12==1.13.1.3
fickling==0.1.7
google-cloud-resource-manager==1.16.0
propcache==0.4.1
peft==0.18.1
PyYAML==6.0.3
ruff==0.9.0
ijson==3.4.0.post0
google==3.0.0
aioboto3==15.5.0
aiohappyeyeballs==2.6.1
importlib_metadata==8.7.1
googleapis-common-protos==1.72.0
deepspeed==0.17.4
aioitertools==0.13.0
certifi==2026.1.4
decorator==5.2.1
torchaudio==2.8.0
blinker==1.9.0
pyzmq==27.1.0
kaitaistruct==0.11
fastrlock==0.8.3
multiprocess==0.70.16
stack-data==0.6.3
Send2Trash==2.1.0
nest-asyncio2==1.7.1
pexpect==4.9.0
google-crc32c==1.8.0
psutil==7.2.1
chardet==5.2.0
xgrammar==0.1.25
lark==1.2.2
wrapt==1.17.3
uc-micro-py==1.0.3
soupsieve==2.8.3
jupyterlab_server==2.28.0
overrides==7.7.0
ray==2.53.0
jupyter-events==0.12.0
pycparser==3.0
setproctitle==1.3.7
jupyterlab_pygments==0.3.0
docstring_parser==0.17.0
pandas==2.3.3
cryptography==46.0.3
jsonpointer==3.0.0
sentry-sdk==2.50.0
terminado==0.18.1
beautifulsoup4==4.14.3
pathlib==1.0.1
typing_extensions==4.15.0
opentelemetry-sdk==1.36.0
anthropic==0.75.0
jupyterlab_widgets==3.0.16
jedi==0.19.2
annotated-doc==0.0.4
uvicorn==0.40.0
defusedxml==0.7.1
traitlets==5.14.3
vllm==0.11.0
scikit-learn==1.7.2
jupyter==1.1.1
accelerate==1.12.0
s3transfer==0.14.0
tiktoken==0.12.0
nvidia-cublas-cu12==12.8.4.1
torch==2.8.0
cuda-bindings==13.1.1
google-resumable-media==2.8.0
websocket-client==1.9.0
librosa==0.10.2.post1
audioread==3.1.0
cint==1.0.0
black==24.10.0
tensorboard-data-server==0.7.2
grpcio-status==1.71.2
arrow==1.4.0
pycountry==24.6.1
nvidia-cudnn-cu12==9.10.2.21
typing-inspection==0.4.2
seaborn==0.13.2
cuda-python==13.1.1
watchfiles==1.1.1
smart_open==7.3.0.post1
jsonref==1.1.0
cffi==2.0.0
einops==0.8.2
google-cloud-aiplatform==1.87.0
verl==0.7.0
pure_eval==0.2.3
pandocfilters==1.5.1
safetensors==0.7.0
hjson==3.1.0
httptools==0.6.4
stdlib-list==0.11.1
nest-asyncio==1.6.0
opentelemetry-semantic-conventions==0.57b0
jupyter-lsp==2.3.0
nodeenv==1.10.0
nbclient==0.10.4
blessed==1.28.0
dill==0.3.8
aiofiles==25.1.0
tenacity==9.1.2
nvidia-cusolver-cu12==11.7.3.90
pybase64==1.4.3
jupyter_server_terminals==0.5.4
py-cpuinfo==9.0.0
verl==0.7.0
